.header {
  background: white;
  position: relative;
  z-index: 100;
  padding: 15px 0;
}

.headerTitle {
  color: var(--primary-low);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.link {
  text-decoration: none;
  color: var(--primary-low);
  font-size: rem(16);
}

.menuPlaceholder {
  visibility: hidden;
}
