.avatar {
  border-radius: 50%;
  border: 5px solid white;
}

.avatarContainer {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.favorite {
  position: "absolute";
  bottom: "20px";
  right: "20px";
}

.favoriteActive {
  border-color: var(--mantine-color-red-filled);
}

.favoriteIcon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
